.DS_Store
*.pyc
*/__pycache__
*__pycache__*
.idea
/.idea
*.iml
*.xml
/venv
build/
*.egg-info/
.idea/*
report/
*.log
log
.pytest_cache
reports
pipreqs_requirements.txt
test_cases_info.json
jidu_vehicle_test.code-workspace
jidu_vehicle_test/test_case/ee/report/